n8n/workflows/Academic Researcher.json
{
  "name": "Academic Researcher",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an AI academic research assistant with expertise in literature review, citation analysis, and scholarly exploration.\nYou have access to a set of MCP tools that allow you to search, retrieve, and analyze academic papers and authors.\n\nCore Responsibilities\n\nResearch Support\n\nHelp users discover relevant academic papers, authors, and citation networks.\n\nProvide summaries, comparisons, links and syntheses of findings from retrieved papers depending on what the user asked for.\nTool Usage\n\nUse papers-search-basic for broad topic searches.\n\nUse papers-search-advanced for refined searches (date range, keywords, authors, venues).\n\nUse papers-match when a user provides a title or partial title.\n\nUse papers-get to retrieve metadata, abstracts, or detailed information.\n\nUse papers-citations to identify works that cite a paper.\n\nUse papers-references to retrieve the references cited within a paper.\n\nUse authors-search to locate authors by name or affiliation.\n\nUse authors-papers to fetch a specific author’s publications.\n\nUse papers-batch for retrieving multiple papers by IDs.\n\nUse analysis-citation-network to explore the influence and connectivity of a paper in the literature.\n\nExpected Behavior\n\nPresent results in a clear, structured way (title, authors, year, abstract, link).\n\nAvoid fabricating papers, authors, or citations—always rely on tool outputs.\n\nStyle Guidelines\nMaintain a professional, academic tone.\n\n***IMPORTANT***\n* Make sure your output is Human readable markdown format and limit results to 5 papers\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        240,
        96
      ],
      "id": "630ebb88-fefd-4d09-98c1-640ccc73fd3c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        176,
        320
      ],
      "id": "c8211546-d9c0-41ab-b6d3-4df6658a3257",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Ok9Oid7izeTFUqEY",
          "name": "Hackathon"
        }
      }
    },
    {
      "parameters": {
        "content": "An AI research assistant that helps discover, analyze, and summarize academic literature. It can search papers and authors, retrieve citations and references, and map citation networks to support literature reviews and scholarly exploration."
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        176,
        -176
      ],
      "id": "5245859d-3ab9-4068-9403-64c07d23ca27",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "responseMode": "lastNode"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -48,
        96
      ],
      "id": "61fa5e1f-983d-43b8-9264-bfc55a475c7f",
      "name": "When chat message received",
      "webhookId": "cd7f8ca4-942c-4f36-b2fa-0e2c7047fe6c"
    },
    {
      "parameters": {
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        304,
        320
      ],
      "id": "c12dce9b-1db4-4046-ab47-9ebb178c8ec0",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "endpointUrl": "https://server.smithery.ai/@hamid-vakilzadeh/mcpsemanticscholar/mcp?api_key=60c40d23-89aa-428f-bbfe-42c7e9c86afb&profile=disgusted-parrotfish-GkTR8s",
        "serverTransport": "httpStreamable",
        "include": "selected",
        "includeTools": [
          "papers-search-basic",
          "papers-search-advanced",
          "papers-match",
          "papers-get",
          "papers-citations",
          "papers-references",
          "authors-search",
          "authors-papers",
          "papers-batch",
          "analysis-citation-network"
        ]
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        432,
        320
      ],
      "id": "5da2fa52-f534-42dc-9681-c2a170f100c2",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite-preview-06-17",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        720,
        464
      ],
      "id": "b0bf77aa-8cdb-44d6-ae6d-60eb21de06f4",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "Ok9Oid7izeTFUqEY",
          "name": "Hackathon"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.output }}",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n  \"suggestedActions\": [\n    \"action 1\",\n    \"action 2\",\n    \"action 3\"\n  ]\n}",
        "options": {
          "systemPromptTemplate": "=You provide follow-up questions in plain text.\n\nRules *IMPORTANT*:\n\n* Return follow-up questions.\n\n* Keep each question under 5 words.\n\n* Always return 3 values"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        640,
        240
      ],
      "id": "41e616b1-b919-4d65-9e16-8a177561d583",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9378efb7-a48a-41fa-895d-4dce3eb035cf",
              "name": "message",
              "value": "={{ typeof $json.output === \"string\" ? $json.output : JSON.stringify($json.output) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        -64
      ],
      "id": "91934246-f3e8-4a06-b317-acea52b5c0f8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c8e845f0-9630-4ed8-b1b1-f553e507c173",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            },
            {
              "id": "5fbb58a5-08d2-4e6f-916e-44ad285b9a10",
              "name": "suggestedActions",
              "value": "={{ $json.output.suggestedActions }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1216,
        96
      ],
      "id": "07180f7f-d265-459e-9c97-f41072f9df76",
      "name": "Edit Fields1",
      "executeOnce": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        992,
        96
      ],
      "id": "7f575b14-9c05-4542-9afe-a63976a09972",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "647ef25f-9aa6-4b65-8a91-ef6fbe522d72",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "143d5f99dea025dc67ba49da3fb636832933424ddc2449b949ffbc40bb019c11"
  },
  "id": "1etEUUC88uCPfp6k",
  "tags": [
    {
      "createdAt": "2025-08-22T15:55:34.834Z",
      "updatedAt": "2025-08-22T15:55:34.834Z",
      "id": "uMQCO2ABi1t5BlTH",
      "name": "HACK"
    }
  ]
}