n8n/workflows/Prompt Builder.json
{
  "name": "Prompt Builder",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are Prompt Builder Agent, an expert AI prompt engineer.\nYour goal is to help the user craft the perfect prompt for their needs.\n\nInstructions\nIf the users first message message isn't a clear prompt that needs refining, respond with a summary of what you do and ask for the prompt they want to refine.\n\nRecursive Refinement\n\nAsk one or two clarifying questions at a time to refine their request.\n\nAfter each response, update and show a working draft of the prompt.\n\nRepeat this cycle until the user confirms the prompt is complete.\n\nClarification Priorities\n*Always ask clear questions\n\nAlways aim to clarify in this order (but adapt if the user needs something else):\n\nGoal: What the user ultimately wants to achieve.\n\nContext: Audience, domain, or scenario.\n\nConstraints: Tone, style, length, format, or technical restrictions.\n\nOutput: Expected form (list, essay, code, plan, diagram, etc.).\n\nExamples: Any references, sample prompts, or preferred styles.\n\nTransparency\n\nShow the user the updated draft prompt after each iteration.\n\nBriefly explain why you are asking each question.\n\nCompletion Signal\n\nWhen the prompt is refined enough, present the Final Draft Prompt.\n\nAsk: “Does this final draft meet your needs, or should we refine further?”\n\nOnly stop once the user confirms satisfaction.\n\n***IMPORTANT***\n* Make sure your output is Human readable markdown format"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        176,
        240
      ],
      "id": "aa8e62df-6a88-45fb-96e3-ddbeda26834a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        192,
        464
      ],
      "id": "d6acedcf-5be5-4cb8-bb6d-ce2902f1fe8f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Ok9Oid7izeTFUqEY",
          "name": "Hackathon"
        }
      }
    },
    {
      "parameters": {
        "content": "The Recursive Prompt Engineer is an AI assistant designed to help users transform vague ideas into precise, high-quality prompts. Instead of producing an answer immediately, it guides users through a structured conversation—asking clarifying questions, refining details, and showing iterative drafts of the prompt until the user confirms it is complete."
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        928,
        464
      ],
      "id": "26c2cd5b-8660-495a-99e9-f1f253f2f4c6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "responseMode": "lastNode"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -48,
        240
      ],
      "id": "ff6b2830-3ce6-4c42-be05-e76a7cc71c52",
      "name": "When chat message received",
      "webhookId": "b884212d-dc87-4c8c-8d0d-4c9f4926e866"
    },
    {
      "parameters": {
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        320,
        464
      ],
      "id": "cc8cf6d3-4c40-4259-8760-fc8a3869f1f0",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite-preview-06-17",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        608,
        608
      ],
      "id": "82a4a2ec-e827-4266-ab95-0a0c5d4d7c19",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "Ok9Oid7izeTFUqEY",
          "name": "Hackathon"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.output }}",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n  \"suggestedActions\": [\n    \"action 1\",\n    \"action 2\",\n    \"action 3\"\n  ]\n}",
        "options": {
          "systemPromptTemplate": "=You provide suggested answers to questions you received or follow-up questions in plain text.\n\nRules *IMPORTANT*:\n\n* Return suggested answers to questions or follow-up questions.\n\n* Keep each answer or question under 5 words.\n\n* Always return 3 values"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        528,
        384
      ],
      "id": "9ae70abe-e551-407d-a8d6-ba6c0535340c",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9378efb7-a48a-41fa-895d-4dce3eb035cf",
              "name": "message",
              "value": "={{ typeof $json.output === \"string\" ? $json.output : JSON.stringify($json.output) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        80
      ],
      "id": "6e77ca36-c837-4055-8452-be03e7999738",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c8e845f0-9630-4ed8-b1b1-f553e507c173",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            },
            {
              "id": "5fbb58a5-08d2-4e6f-916e-44ad285b9a10",
              "name": "suggestedActions",
              "value": "={{ $json.output.suggestedActions }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        240
      ],
      "id": "c0139ca2-f39b-45b8-992e-fcdf1a58d30b",
      "name": "Edit Fields1",
      "executeOnce": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        880,
        240
      ],
      "id": "d188b7d6-69fc-470d-b3b8-6a5096335e26",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "73022653-4821-49fb-b225-c63669b77af0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "143d5f99dea025dc67ba49da3fb636832933424ddc2449b949ffbc40bb019c11"
  },
  "id": "zo15igajsaqattgN",
  "tags": [
    {
      "createdAt": "2025-08-22T15:55:34.834Z",
      "updatedAt": "2025-08-22T15:55:34.834Z",
      "id": "uMQCO2ABi1t5BlTH",
      "name": "HACK"
    }
  ]
}