n8n/workflows/Roadmap Planner.json
{
  "name": "Roadmap Planner",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=You are RoadmapPlanner, an AI agent that helps users create structured product or project roadmaps.\nYour job is to guide the user from a vague idea to a clear, prioritized roadmap with milestones.\n\nInstructions\n\nRecursive Refinement\n\nStart by asking about the overall goal (product vision, project purpose, or outcome).\n\nThen clarify timeframe, resources, audience/customers, and constraints.\n\nAsk one or two questions at a time, updating the roadmap draft after each response.\n\nRoadmap Structure\n\nBreak down the roadmap into phases or milestones (e.g., Q1, Q2, or Step 1, Step 2).\n\nFor each phase, include key deliverables, dependencies, and success criteria.\n\nWhere useful, suggest alternatives or trade-offs.\n\nTransparency\n\nAlways show the evolving roadmap draft after each refinement step.\n\nExplain why you’re asking each clarifying question.\n\nCompletion Signal\n\nOnce the roadmap is detailed and prioritized, present a Final Draft Roadmap in a clear format (table, bullet list, or timeline).\n\nAsk: “Does this final roadmap meet your needs, or should we refine further?”\n\nExample Flow\n\nUser: “I want to build an app for personal finance.”\nYou: “Great. Do you want this roadmap to cover the next 3 months, 6 months, or a year?”\nUser: “Six months.”\nYou: “Understood. Here’s the starting draft:\n\nPhase 1 (Month 1-2): Define target users, core features, and success metrics.\nWould you like me to expand this into specific deliverables such as MVP features, design milestones, or marketing activities?”\n\n***IMPORTANT***\n* Make sure your output is Human readable markdown format"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        192,
        16
      ],
      "id": "a5cdc993-037d-4af2-8362-795760331cb1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        432
      ],
      "id": "42f04e47-c7b2-45c4-898b-62ae3eb2c533",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Ok9Oid7izeTFUqEY",
          "name": "Hackathon"
        }
      }
    },
    {
      "parameters": {
        "content": "The Roadmap Planner Agent helps turn broad ideas into clear, actionable roadmaps. It guides users step by step with clarifying questions, then structures the plan into phases, milestones, and deliverables. The agent ensures goals, timelines, and priorities are aligned, producing a polished roadmap that’s easy to follow and adapt."
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        176,
        -176
      ],
      "id": "54b68130-dc6e-4e53-943e-bde4b15a9539",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "responseMode": "lastNode"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -48,
        0
      ],
      "id": "43ea68b0-f204-491b-95cd-9b4ba7c6be9c",
      "name": "When chat message received",
      "webhookId": "f1f7c9e7-0aa5-4480-9fa3-f2720d5d1b1c"
    },
    {
      "parameters": {
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        384,
        448
      ],
      "id": "9d46bf75-84bc-45f3-94f9-908937c3109a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite-preview-06-17",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        704,
        448
      ],
      "id": "237f9cb1-fb4f-4e1b-aced-77433576f8d6",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "Ok9Oid7izeTFUqEY",
          "name": "Hackathon"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.output }}",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n  \"suggestedActions\": [\n    \"action 1\",\n    \"action 2\",\n    \"action 3\"\n  ]\n}",
        "options": {
          "systemPromptTemplate": "=You provide suggested answers to questions you received or follow-up questions in plain text.\n\nRules *IMPORTANT*:\n\n* Return suggested answers to questions or follow-up questions.\n\n* Keep each answer or question under 5 words.\n\n* Always return 3 values"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        576,
        240
      ],
      "id": "b05feae3-43dd-42be-8d51-64772fa98acf",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9378efb7-a48a-41fa-895d-4dce3eb035cf",
              "name": "message",
              "value": "={{ typeof $json.output === \"string\" ? $json.output : JSON.stringify($json.output) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        16
      ],
      "id": "259a277e-7e1c-4774-8aa3-8bc902a33648",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c8e845f0-9630-4ed8-b1b1-f553e507c173",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            },
            {
              "id": "5fbb58a5-08d2-4e6f-916e-44ad285b9a10",
              "name": "suggestedActions",
              "value": "={{ $json.output.suggestedActions }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        176
      ],
      "id": "019f7d68-afb9-481c-8016-1886004df85a",
      "name": "Edit Fields1",
      "executeOnce": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        880,
        112
      ],
      "id": "acaea5dc-3aa7-4927-88da-360e70e20b64",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        []
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f80fc477-7fd5-4e74-800c-f251fd52c67f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "143d5f99dea025dc67ba49da3fb636832933424ddc2449b949ffbc40bb019c11"
  },
  "id": "EZXeZj82dK86zbeo",
  "tags": [
    {
      "createdAt": "2025-08-22T15:55:34.834Z",
      "updatedAt": "2025-08-22T15:55:34.834Z",
      "id": "uMQCO2ABi1t5BlTH",
      "name": "HACK"
    }
  ]
}